@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  /* background-color: #961203;
  color: white; */
  background-color: #ca9925;
  color: #091c34;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

p {
  line-height: 30px;
}

header {
  display: grid;
  grid-template-columns: 100px 200px auto;
  grid-template-rows: 140px;
  align-items: center;
  font-family: "Playfair Display", Lato, Times, serif;
  background-color: #0c2441;
}

.logo {
  padding: 20px;
}

.logo-link {
  padding-left: 30px;
  font-family: "Dancing Script";
  font-size: 40px;
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: right;
  padding: 58px 20px;
}

nav a:hover {
  background-color: #091c34;
  /* color: #f6bc34; */
}

.dropdown {
  display: flex;
  position: relative;
}

.dopbtn {
  align-content: center;
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
  background-color: #96031a;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c2441;
  margin-top: 140px;
  width: 100%;
  /* z-index: 1; */
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.sm-mnu {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", Lato, Helvetica, sans-serif;
}

#hero {
  width: 100%;
}

#hero-box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

#hero-img {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#hero-box h1 {
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  font-family: "Dancing Script";
  font-size: 300px;
}

.what-is {
  /* background-color: #bc2e3d; */
  background-color: #8f0500;
  /* border: solid 5px #ca9925; */
  border-radius: 25px;
  width: 60%;
  margin: 60px auto;
  padding: 20px;
  color: white;
  display: grid;
  grid-template-rows: 75px auto;
  gap: 5px;
}

.what-is h2 {
  text-align: center;
  font-size: xx-large;
}

.what-is p {
  text-align: center;
  font-size: larger;
}

.history {
  background: #8f0500;
  color: white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 6fr 12fr 1fr;
  grid-template-rows: 50px 50px 500px 50px;
  align-items: center;
}

.history-img {
  grid-column: 2/3;
  grid-row: 2/4;
  width: 100%;
}

.history-title {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-bottom: 20px;
  font-size: xx-large;
  text-align: center;
}

.history-p {
  padding: 10px;
  grid-column: 3/4;
  grid-row: 3/4;
  max-height: 500px;
  overflow: scroll;
}

.syllabus-title {
  text-align: center;
}

.syllabus {
  width: 60%;
  margin: 0 auto;
}

.intfox-bronze {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  align-items: center;
}

.intfox-bronze div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intfox-bronze div h2 {
  margin: 0;
}

.intfox-bronze img {
  width: 100%;
}

.intfox-silver {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
  align-items: center;
}

.intfox-silver div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intfox-silver div h2 {
  margin: 0;
}

.intfox-silver img {
  width: 100%;
}

.intfox-gold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 335px;
  align-items: center;
}

.intfox-gold div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intfox-gold div h2 {
  margin: 0;
}

.intfox-gold img {
  width: 100%;
}

.resources {
  width: 80%;
  margin: 80px auto;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.byui-classes {
  background-color: #0c2441;
  width: 65%;
  min-height: 200px;
  display: flex;
  font-size: larger;
}

.byui-classes img {
  width: 200px;
  height: 200px;
  align-self: center;
  padding: 20px;
}

.byui-classes div {
  padding: 20px;
}

.other {
  background-color: #0c2441;
  width: 25%;
  padding: 20px;
  font-size: larger;
}

.other h3 {
  text-align: center;
}

.other a {
  color: white;
}

footer {
  background-color: #0c2441;
  min-height: 150px;
  padding: 25px 50px;
  /* margin-top: 40px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #faefe1;
}

footer a {
  text-decoration: none;
  color: #faefe1;
}

footer a:hover {
  color: #f6bc34;
  text-decoration: underline;
}

@media screen and (max-width: 1042px) {
  #hero-img {
    z-index: -1;
  }
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  footer {
    flex-direction: column;
  }
  nav a {
    /* display: block; */
    padding: 15px;
  }
  .dropdown {
    display: none;
  }
  .home {
    display: none;
  }
  .sm-mnu {
    display: flex;
  }
  .sm-mnu a {
    display: none;
  }
  .mnu-sym {
    margin-right: 20px;
  }
  .mnu-symbit {
    width: 35px;
    height: 5px;
    background-color: #faefe1;
    margin: 6px 0;
  }
  .sm-mnu:hover a {
    display: block;
    background-color: #0c2441;
  }
  .sm-mnu:hover .sm-mnu-drop {
    margin-top: 411px;
    z-index: 1;
  }
  .vs-box {
    margin: 40px auto;
  }
  .byui {
    grid-template-columns: 100px auto;
    gap: 20px;
  }
}
